/* Encompassing CSS */
:root {
    --darker-color: #222;
    --lighter-color: #333;
    --nav-active-text-color: #bec991;
    --nav-dropdown-hover-color: #555;
    --component-background-color: white;
    --bar-default-color: #bec991;
    --bar-active-color: darkgreen;
    --bubble-default-color: #bec991;
    --bubble-active-color: darkgreen;
    --tree-line-color-undergrad: #bec991;
    --tree-line-color-masters: #7d8560;
    --tree-undergrad-color: darkgreen;
    --tree-100-color: darkgreen;
    --tree-200-color: darkgreen;
    --tree-300-color: darkgreen;
    --tree-400-color: darkgreen;
    --tree-masters-color: darkgreen;
    --tree-600-color: darkgreen;
}

body, svg {
    background-color: var(--darker-color);
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--component-background-color);
}

a.text-a {
    font-style: italic;
    color: white;
    text-decoration: none;
}

a.text-a:hover {
    text-decoration: underline;
}

/* Navbar CSS */
#navbar {
    font-family: sans-serif;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}

#navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

#navbar a:hover {
    color: var(--nav-active-text-color);
}

.initial-nav {
    background-color: var(--lighter-color);
}

.sticky {
    background-color: var(--darker-color);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lighter-color);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--nav-dropdown-hover-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero Div Component */
body {
    margin: 0px;
}

.heroDiv {
    height: 600px;
    width: 100%;
    min-width: 1100px; /* Keep hero div width at 100% for smaller screens. */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero-photo.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    padding-top: 100px;
    text-align: center;
}

@font-face { /* [1] Special Font */
    font-family: showtime;
    src: url(showtime_font/Showtime-Regular.otf) format('otf'),
        url(showtime_font/Showtime-Regular.woff) format('woff'),
        url(showtime_font/Showtime-Regular.woff2) format('woff2'),
        url(showtime_font/Showtime-Regular.ttf) format('ttf');
}

.fancyTextSmall, .fancyText {
    position: relative;
    z-index: 1;
    color: white;
}

.fancyTextSmall {
    font-family: sans-serif;
    font-size: 25px;
    padding-top: 150px;
}

.fancyText {
    font-family: showtime;
    color: white;
    font-size: 100px;
    margin-top: 0px;
}

.hero-button, .card-buttons {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--lighter-color);
    color: white;
}

.hero-button:hover, .card-buttons:hover {
    background-color: var(--darker-color);
}

/* Shared Component CSS */
#kaileys-stats, #sample-projects {
    width: 1099px;
    margin: auto;
}

#bubble-chart > svg, #line-chart > svg, #bar-chart > svg {
    background-color: var(--component-background-color);
    border-radius: 8px;
    margin-bottom: 1px;
}

.container {
    float: left;
}

.title {
    font-family: sans-serif;
    font-weight: bold;
}

.axis-text {
    font-size: 13px;
    font-weight: bolder;
}

.chart-text {
    font-size: 11.5px;
}

/* Stat Section */
#kaileys-stats {
    margin-bottom: 30px;
    padding-top: 0px;
}

.grid-div-long {
    grid-column: span 2;
}
        
/* Bubble Chart Component */
.bubble {
    font-family: sans-serif;
    font-size: 11px;
}

/* Bar Chart Component */
#bar-chart { 
    margin-left: 5px;
}

/* margin-left: 5px; */
.plot-d6a7b5 {
    background-color: var(--component-background-color);
}

#tree {
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: var(--component-background-color);
    border-radius: 8px;
}

.tree-title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

/* Sample Projects Section [8] */
#sample-projects {
    background-color: var(--darker-color);
    margin-bottom: 30px;
}

.grid {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

@media (max-width: 60em) {
    .grid {
        gap: 3rem;
    }
}

.grid-div {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    transition: 0.2s;
}

.grid-div:hover {
    /* transform: translateY(-0.5%); Move card up on mouseover */
    /* box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2); Change box shadow on mouseover */
}

.card-photos {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 1rem 3rem;
}

.card-header-text, .card-paragraph-text {
    font-family: sans-serif;
}

.card-header-text {
    font-size: 30px;
    font-weight: bold;
    color: var(--darker-color);
    margin-top: 10px;
}

.card-paragraph-text {
    margin-bottom: 25px;
}

.card-buttons {
    margin-bottom: 20px;
}

/* Blog Posts Section */

.blog-text {
    color: white;
    padding-right: 15em;
    font-family: sans-serif;
}

.blog-photos {
    width: 50%;
    border-radius: 5px;
}

.blog-subheader {
    color: white;
    font-style: italic;
    letter-spacing: 0.1em;
    font-family: sans-serif;
}